.scrollContainer {
  position: absolute;
  top: 50px;
  left: 0px;
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0px 5px;
  width: 85%;
  z-index: 1000;
  background: white;

  .listItem {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background: rgba(211, 211, 211, 0.5);
    }
  }
}

/* Media query for screens with a maximum width of 767 pixels (commonly used for mobile devices) */
@media screen and (max-width: 767px) {
  /* Styles for mobile devices go here */
  .scrollContainer {
    width: 75%;
  }
}
